.stringStyle {
  min-width: 30vw;
  height: 45vh;
  background-color: #ffdbdb;
  border-radius: 10px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 25vh;
  left: 35%;
}
.popupBtn {
  position: absolute;
  top: 1vh;
  border: none;
  background-color: transparent;
  width: 30px;
  right: 0vw;
}
