.edit-container {
  height: 90vh;
  margin-left: 25vw;
  margin-top: 3vh;
}
.edit-title {
  height: 2vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5vh;
}
label {
  font-weight: 500;
}
.titleEditor {
  height: 6vh;
  width: 40vw;
  border-radius: 30px;
  margin-top: 2vh;
  border: 1px solid;
  padding-left: 1vw;
  margin-bottom: 5vh;
}
.desEditor {
  height: 20vh;
  width: 40vw;
  border-radius: 15px;
  margin-top: 2vh;
  border: 1px solid;
  padding-left: 1vw;
  margin-bottom: 3vh;
}
button {
  height: 8vh;
  width: 7vw;
  margin-right: 20px;
  border-radius: 20px;
  border: 1px solid;
  background-color: transparent;
}
.save {
  background-color: aqua;
  color: white;
}

@media only screen and (max-width: 600px) {
  .edit-container {
    margin-left: 15vw;
  }
  .titleEditor,
  .desEditor {
    width: 68vw;
    border-radius: 10px;
    font-size: 20px;
  }
  label{
    font-size: 22px;
  }
  button{
    width: 40%;
    font-size: 20px;
  }
}
